torch>=2.4.0
torchvision
transformers>=4.45.0
accelerate
qwen-vl-utils
sentencepiece
huggingface_hub
Pillow

pandas
numpy
scikit-learn
scipy
pathlib

openai
requests
urllib3

selenium
beautifulsoup4

rapidfuzz
tqdm

python-dotenv
